!# --------------------------------------------------------------------
!# file:      ~/.Xresources
!# author:    WalkerGriggs  - www.walkergriggs.com
!# --------------------------------------------------------------------

#define sysColor                #3676B3

!# Xterm Settings -----------------------------------------------------


!xterm*faceName:         bitbuntufull:size=8
!xterm*faceName:         DroidSansFallbackFull:size=11
xterm*faceName:         SourceCodePro:size=11

xterm*allowBoldFonts:   true
xterm*cursorColor:      sysColor
xterm*cursorBlink:      true
xterm*loginShell:       true
xterm*termName:         xterm-256color
xterm*scrollBar:        false
xterm*scrollKey:        true
xterm*toolBar:          false

xterm*selectToClipboard: true

!xterm*scrollTtyOutput: false
!xterm*saveLines:       7500

! #include "/home/wgriggs/.colors/THEME_INCLUDE"
#include "/home/wgriggs/.cache/wal/colors.Xresources"