"*":
  "atom-beautify":
    _analyticsUserId: "45142ffb-7da8-4b2d-bd5b-7da068293336"
  "atom-material-ui":
    colors:
      abaseColor:
        red: 26
        green: 188
        blue: 156
        alpha: 1
    fonts: {}
    tabs: {}
    treeView:
      compactList: true
    ui:
      panelContrast: true
  core:
    audioBeep: false
    autoHideMenuBar: true
    themes: [
      "atom-material-ui"
      "eclectic-syntax"
    ]
  editor:
    confirmCheckoutHeadRevision: false
    fontFamily: "DejaVu Sans"
    fontSize: 16
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    softTabs: false
    softWrap: true
    tabLength: 4
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "c61362d6-3272-f42d-4736-a061834571c5"
  "file-icons":
    coloured: false
  "highlight-selected":
    lightTheme: true
  "isotope-ui": {}
  minimap:
    absoluteMode: true
    adjustMinimapWidthToSoftWrap: false
    interline: 2
    textOpacity: 0.7
  pigments: {}
  "tree-view": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
".console.python.text":
  editor:
    preferredLineLength: 1
".python.regexp.source":
  editor:
    preferredLineLength: 1
".python.source":
  editor:
    preferredLineLength: 100
    scrollPastEnd: false
    softWrap: true
".python.text.traceback":
  editor:
    preferredLineLength: 1
